<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="dev.saygo.app.ControlTargetActivity" android:exported="true" android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity android:name="dev.saygo.app.GestureTargetActivity" android:exported="true" android:label="Dungeons and Dragons" android:theme="@android:style/Theme.Material.Light.NoActionBar">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity-alias android:name="dev.saygo.app.ThenAndNow" android:targetActivity="dev.saygo.app.GestureTargetActivity" android:exported="true" android:label="Then and Now">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
    </application>
</manifest>
